<!DOCTYPE html>
<html>
<head>
    <title>Submitted</title>
</head>
<body>

    <h1>Form Submitted Successfully ✅</h1>

    <h3>Username: <%= username %></h3>
    <h3>Email: <%= email %></h3>
    <h3>Password: <%= password %></h3>

</body>
</html>