<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
     <h1>Akash khan</h1>
     <h3>linkedin : Akashdev</h3>
    <h1>Welcome <%= name %></h1>

    <p>Age: <%= age %></p>

    <button>Login</button>

</body>
</html>